<!DOCTYPE html>
<html>
    <head>
        <title>AnimalFacts</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <style>
        	#wietse2{		
        		margin: auto;
        		width: 100%;   				
			}
			#wietse{		
        		width: 100%;
        		padding-top:20px;
			}
			.container .jumbotron, .container-fluid .jumbotron{
				padding-left: 20px;
				padding-right: 20px;
			}
			.container{
			    width: 100% ;
			}
			.jumbotron{
				padding-top: 10px;
				padding-bottom: 20px;
				margin-bottom: 20px;
				margin-top: 0px;
			}
			.btn-group-lg>.btn, .btn-lg{
			    font-size: 30px;
			    width: 49.5%;
			}
			h2{
				margin-top: 0;
				margin-bottom: 0;
				font-size: 40px;
			}
			body{
                background: steelblue;

			}
			.btn-primary{
			    color: steelblue;
                background-color: #eee;
                border-color: #2e6da4;
			}
			.navbar{
                background-color: #eee;
                border-style: none;
                margin-bottom: 0;
                padding-right: 30px;
            }
		    
		</style>
    </head>
    <body >
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand navbar-right" href="https://nbocdn.akamaized.net/Assets/Images_Upload/2016/02/16/e8c80e4a-cf35-11e5-8536-e42185075af5_web_translate_-23.64387_-18.36524__scale_0.115378_0.115378__.jpg?maxheight=460&maxwidth=638"><i class="fas fa-paw"></i> Cute dogos and Kittys</a>
      <a class="navbar-brand" href="/dog/gif">DOGOS</a>
      <a class="navbar-brand" href="/cat/gif">KITTYS</a>
     
      </button>
      </div>
    </nav>